body{
    background-color: #1a472a;
}

/* Nav Section */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aaaaaa;
    border-radius:15px;
    opacity: 0.75;
    font-family: 'Nunito', sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #939393;
  }

  /* End of nav section */

.header{
    padding-top:2.5%;
    padding-bottom:2.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    margin:0;
    text-transform:uppercase;
    font-size: 75pt;
    font-weight: 900;
    letter-spacing: 3px;
    color: #1a472a;
    text-shadow: -1px 1px 0px #77906c,
                1px 1px 0 #77906c,
                1px -1px 0 #77906c,
                -1px -1px 0 #77906c;
  }

.title span{
    color:#77906c;
    font-size: 90pt;
}

/* Projects section */

.container{
  display:flex;
  margin: auto;
  height: 350px;
  align-items: center;
  justify-content:space-between;
}

.item{
  padding-top:1%;
  background-color: #bed3c7;
  font-family: 'Nunito', sans-serif;
  border-radius:15px;
  width:30%;
  height:100%;
  margin: auto;
  text-align: center;
}

.item li{
  padding-left:3%;
  padding-right:3%;
}

/* Footer section */

.social-icons {
  font-size: 200%;
}
.fa-linkedin:hover{
  color: #1a472a;
}
.fab {
  color: #000000;
}
#footer {
  background-color: #939393;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  opacity: 0.75;
  border-radius:15px;
}